* {
     margin: 0;
     padding: 0;
}

.container {
     width: 960px;
     margin: 0 auto;
}

.header {
     font-family: 'Montserrat';
     height: 100vh;
     min-width: 960px;
     background: url(../img/br.jpg) center, #2d3131d8;
     background-size: cover;
     background-blend-mode: soft-light
}

.header>.container {
     width: 100%;
     height: 100%;
}

.navigation {
     width: 100%;
     height: 10%;
     border-bottom: 1px solid #d6d6d6;
}

.navigation>.container{
     height: 100%;
     display: flex;
     justify-content: flex-end;
     position: relative;
     align-items: center;
}

.logo {
     position: absolute;
     left: 0;
     color: #ffffff;
     text-transform: uppercase
}

.logo>h1 {
     font-weight: 2em;
     font-size: 30px;
}

ul {
     display: flex;
}

ul>li {
     list-style-type: none;
     padding: 10px 20px;
}

li>a {
     text-decoration: none;
     color: #d6d6d6;
     text-transform: capitalize;
     font-size: 18px;
}

.register {
     background-color: transparent;
     border: 3px solid #008E8C;
     color: #008E8C;
     height: 40px;
     width: 100px;
     border-radius: 5px;
     font-size: 18px;
     display: flex;
     align-items: center;
     justify-content: center;
}

.register>p {
     display: block;
}

.banner {
     height: 85%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.banner>.container {
     overflow: hidden;
}

.content {
     border-left: 5px solid #5f1414;
     padding-left: 20px;
     overflow: hidden;
     position: relative;
     top: -100%;
}

.content>h2 {
     font-size: 64px;
     color: #ffffff;
     text-transform: capitalize;
}

.run {
     position: relative;
     left: -105%;
}

.fit-content {
     width: -moz-fit-content;
     width: fit-content;
}

.content>p {
     margin-top: 40px;
     color: #d6d6d6;
     font-size: 24px;
     text-transform: capitalize;
}
.btn {
     position: relative;
     margin: 30px 0 0 0;
     width: 150px;
     height: 50px;
     color: #ffffff;
     font-size: 18px;
     background: linear-gradient(to right, #008E8C, #0083b0);
     border: none;
     border-radius: 0 10px 10px 0;
     box-sizing: border-box;
     overflow: hidden;
     text-transform: capitalize;

}

.hover {
     content: '';
     display: block;
     position: absolute;
     left: 0;
     top: 0;
     width: 15%;
     height: 200%;
     background: #a0d3d3;
     filter: blur(8px);
     opacity: 0.8;
     transform: translate(-300%,-25%) rotate(45deg);
}

.special:after {
     right: 0;
} 

.session1 {
     height: 100vh;
     background: url(../img/img1.jpg) center no-repeat;
     background-size: cover;
}