* {
     margin: 0;
     padding: 0;
}
 
.container {
     width: 960px;
     margin: 0 auto;
     box-sizing: border-box;
}
 
.header {
     width: 100%;
     height: 100vh;
     background: url(../img/hero.jpg) center no-repeat;
     background-size: cover;
     font-family: 'Quicksand';
}
 
.navigation {
     width: 100%;
     position: fixed;
     transition: 0.8s;
}
 
 .navigation>.container {
     position: relative;
     height: 80px;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
.logo {
     position: absolute;
     left: 0;
     text-transform: uppercase;
     font-size: 16px;
     font-weight: 700;
     color: #ffffff;
}
 
ul {
     display: flex;
     justify-content: center;
}
 
ul li {
     list-style-type: none;
     padding: 10px 20px;
}
 
li a {
     color: #e9e9e9;
     font-size: 22px;
     text-transform: capitalize;
     text-decoration: none;
}
 
.black {
     background: #000000c7;
}
 
.content {
     height: 100vh;
}
 
.menu-icon {
     width: 50px;
     height: 50px;
     background: url(../img/menu.png) center no-repeat;
     background-size: cover;
     display: none;
    
}
 
@media screen and (max-width: 960px) {
     .container {
          width: 100%;
     }
}
 
@media screen and (max-width: 720px) {
     .navigation {
          background: #000000c7;
     }
     ul {
          background: #00000077;
          display: block;
          position: absolute;
          left: 0;
          top: 80px;
          width: 100%;
     }
     ul>li {
          text-align: center;
     }
     .logo h1 {
          display: none;
     }
     .menu-icon {
          display: block;
     }
}

@media screen and (max-width: 512px) {
     
}
